@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  @apply xl:max-w-7xl lg:max-w-5xl px-3 mx-auto;
}
.signIn-container {
  @apply max-w-5xl px-2 mx-auto;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
section {
  @apply pt-2 pb-14;
}
body {
  @apply font-body;
}

.swiper-button-next,
.swiper-button-prev {
  @apply translate-x-0  border-white bg-black/30 border 2xl:visible xl:!visible !invisible rounded px-6 py-8 m-0 -translate-y-1/2;
}
.swiper-button-prev {
  @apply !left-0;
}
.swiper-button-next {
  @apply !right-0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  @apply !text-[20px] !font-bold text-white  hover:!text-amber-400;
}
.multiSelectContainer {
  @apply !w-auto;
}
.optionListContainer {
  @apply !z-[100];
}
